<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex2-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input-width"  placeholder="Search" ng-model="ac.searchText">
                    </div>                    
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active: ac.currentView == 'app/templates/grid.html'}"><a href ng-click="ac.changeView('app/templates/grid.html')"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
                    <li ng-class="{active: ac.currentView == 'app/templates/list.html'}"><a href ng-click="ac.changeView('app/templates/list.html')"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</div>
<div ng-include="ac.currentView"></div>