<div class="col-xs-8 col-xs-offset-2">
    <div class="jumbotron">
        <div class="container">
            <h1>Hello guys!</h1>
            <p>Aplikacija radi u firefoxu bez ikakvih problema.</p>
            <p>Da bi je pokrenuli u chromu potrebno je pokrenuti neki web server.</p>
            <p>Najlakse je preko http-server ili skidanjem applikacije <a target="_blank" href="https://chrome.google.com/webstore/detail/web-server-for-chrome/ofhbbkphhbklhfoeikjpcbhemlocgigb?hl=en-US"> Web server for Chrome</a></p>
            <p>Moj <a target="_blank" href="https://github.com/biomazi">github</a></p>
        </div>
    </div>
</div>