<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <h1>Moja stranica sa velikom listom poznatih kafica i restorana</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque perspiciatis ut qui ex aut cumque excepturi
            quis inventore praesentium molestias velit accusamus dignissimos beatae eius, magni esse eum laudantium,
            harum unde quod nostrum nisi. Quod magnam quasi repudiandae explicabo culpa perferendis sunt voluptatum
            possimus commodi eaque aspernatur architecto nesciunt quos voluptatibus vel nisi blanditiis repellat facere
            quae dicta, odit sit aperiam rerum, incidunt. Quae sunt et possimus minima alias soluta quod. Neque accusamus
            necessitatibus odit iure voluptates veritatis minima ratione id perspiciatis voluptatem sint, velit at harum
            voluptatibus architecto laborum magnam deleniti inventore eum sit eveniet enim rem. Voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque perspiciatis ut qui ex aut cumque excepturi
            quis inventore praesentium molestias velit accusamus dignissimos beatae eius, magni esse eum laudantium,
            harum unde quod nostrum nisi. Quod magnam quasi repudiandae explicabo culpa perferendis sunt voluptatum
            possimus commodi eaque aspernatur architecto nesciunt quos voluptatibus vel nisi blanditiis repellat facere
            quae dicta, odit sit aperiam rerum, incidunt. Quae sunt et possimus minima alias soluta quod. Neque accusamus
            necessitatibus odit iure voluptates veritatis minima ratione id perspiciatis voluptatem sint, velit at harum
            voluptatibus architecto laborum magnam deleniti inventore eum sit eveniet enim rem. Voluptas.</p>
    </div>
    <div class="col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-5">
        <button type="button" class="btn btn-default" ng-click="cc.redirect()">Redirect</button>
    </div>
</div>
