<div class='container-fluid'>

	<form class="form-horizontal" role="form">

		<div class="form-group">			    	
			<label class="col-sm-2 control-label" for="nameInput">Name:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="nameInput" ng-model="wine.name">
			</div>
		</div>  		

		<div class="form-group">
			<label class="col-sm-2 control-label" for="yearInput">Year:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="yearInput" ng-model="wine.year">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="grapesInput">Grapes:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="grapesInput" ng-model="wine.grapes">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="countryInput">Country:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="countryInput" ng-model="wine.country">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="regionInput">Region:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="regionInput" ng-model="wine.region">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="descriptionInput">Description:</label>
			<div class="col-sm-10">
				<textarea rows="5" cols="15" class="form-control" ng-model="wine.description"></textarea>
			</div>
		</div>

	</form>

</div>