<div>
    <h3>Place list</h3>
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<td><input class="form-control" id="postalCode" name="postalCode" placeholder="Postal code" ng-model="plc.filter.postalCode"></td>
			<td><input class="form-control" id="name" name="name" placeholder="Name" ng-model="plc.filter.name"></td>
		</tr>
        <tr>
            <td colspan="2"><button class="btn btn-default" ng-click="plc.search()">Pretraga</button></td>
        </tr>
		<tr class="active">
			<th>
				<a class="link" ng-href ng-click="plc.tableChanged('postalCode')">
                    Jmbg
                    <i class="fa fa-sort disabled" ng-hide="plc.sort == 'postalCode'"></i>
                    <i class="fa fa-sort-desc" ng-show="plc.sort == 'postalCode' && plc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="plc.sort == 'postalCode' && plc.sortDirection == 'desc'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="plc.tableChanged('name')">
                    Name
                    <i class="fa fa-sort disabled" ng-hide="plc.sort == 'name'"></i>
                    <i class="fa fa-sort-desc" ng-show="plc.sort == 'name' && plc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="plc.sort == 'name' && plc.sortDirection == 'desc'"></i>
                </a>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-click="plc.edit(place._id)" class="link" ng-repeat="place in plc.places">
			<td>{{place.postalCode}}</td>
			<td>{{place.name}}</td>
		</tr>
		</tbody>
	</table>
	<ul class="pagination">
        <li ng-class="{'disabled': plc.pagination.page == 1}">
            <a class="link" ng-href aria-label="Previous" ng-click="plc.pagination.changePage(pagination.page - 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="page in plc.pagination.iterator track by $index" ng-class="{'active':($index+1) == plc.pagination.page}">
            <a class="link" ng-href ng-click="plc.pagination.changePage($index+1)">{{$index+1}}</a>
        </li>
        <li ng-class="{'disabled': plc.pagination.page == plc.pagination.iterator.length}">
            <a class="link" ng-href aria-label="Next" ng-click="plc.pagination.changePage(plc.pagination.page + 1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <a class="btn btn-primary" href="#/place/add">Add new place</a>
    </div>
</div>