<!DOCTYPE html>
<html>
<head>
	<title>Form validation example</title>
	<link href="./assets/css/bootstrap.css" rel="stylesheet">
</head>
<body ng-app="app">
<div class="container" ng-controller="FormController as fc">
	<h2 class="col-xs-offset-2">Form validation example</h2>
	<form novalidate class="state-form form-horizontal" name="fc.stateForm">
		<div class="form-group" ng-class="{ 'has-error': fc.stateForm.inputName.$touched && fc.stateForm.inputName.$invalid }">
			<label class="control-label col-xs-2" for="inputName">Name</label>
    		<div class="col-xs-6">
    			<input class="form-control" type="text" id="inputName" name="inputName" ng-model="fc.user.name" required ng-minlength="2" ng-maxlength="10"/>
				<div ng-messages="fc.stateForm.inputName.$error">
					<!--div ng-messages-include="views/messages.html"></div-->
        			<p ng-message="minlength">Your name is too short.</p>
        			<p ng-message="maxlength">Your name is too long.</p>
        			<p ng-message="required">Your name is required.</p>
    			</div>
    		</div>
    	</div>
    	<div class="form-group" ng-class="{ 'has-error': fc.stateForm.inputEmail.$touched && fc.stateForm.inputEmail.$invalid }">
			<label class="control-label col-xs-2" for="inputEmail">E-mail</label>
    		<div class="col-xs-6">
    			<input class="form-control col-xs-10" type="email" id="inputEmail" name="inputEmail" ng-model="fc.user.email" required/>
    			<div ng-messages="fc.stateForm.inputEmail.$error">
    				<!--div ng-messages-include="views/messages.html"></div-->
        			<p ng-message="email">This is not a valid email.</p>
        			<p ng-message="required">Your email is required.</p>
    			</div>
    		</div>
    	</div>
    	<div class="form-group">
			<label class="control-label col-xs-2" for="inputGender">Gender</label>
			<div class="col-xs-6">
				<label class="radio-inline"><input type="radio" ng-model="fc.user.gender" value="male" >male</label>
				<label class="radio-inline"><input type="radio" ng-model="fc.user.gender" value="female" >female</label>
			</div>
    	</div>
    	<div class="form-group">
    		<div class="col-xs-offset-2 col-xs-6">
				<input class="btn btn-primary" type="submit" ng-click="fc.update(fc.user)" value="Save" />
				<input class="btn btn-danger" type="button" ng-click="fc.reset()" value="Reset" />
			</div>
    	</div>
	</form>
	<br />
	<div class="col-xs-offset-2 col-xs-6">
		<pre>user = {{fc.user | json}}</pre>
  		<pre>master = {{fc.master | json}}</pre>
	</div>
</div>
<script src="./assets/js/angular.min.js"></script>
<script src="./assets/js/angular-messages.min.js"></script>
<script src="./app/app.module.js"></script>
<script src="./app/controllers/form.controller.js"></script>
</body>
</html>