<div>
	<div class="row">
        <span ng-show="mlc.pagination.page !== 1">
            <a ng-href aria-label="Previous" ng-click="mlc.pagination.changePage(mlc.pagination.page - 1)">
                <span aria-hidden="true">&laquo;Prev</span>
            </a>
        </span>
        <span ng-show="mlc.pagination.page !== mlc.pagination.numberOfPages">
            <a ng-href aria-label="Next" ng-click="mlc.pagination.changePage(mlc.pagination.page + 1)">
                <span aria-hidden="true">Next&raquo;</span>
            </a>
        </span>
		<span class="pull-right">
			Sort by:
    		<select id="sort" ng-model="mlc.sort">
    			<option value="rating">Rating</option>
    			<option value="year">Year</option>
    		</select>
    		<button ng-click="mlc.changeSortDirection()"><img src="assets/img/arrows.png"></button>
		</span>
	</div>
    <br>
	<div class="row gray" ng-repeat="movie in mlc.movies">
		<h4><a ng-href ng-click="mlc.edit(movie._id)">{{movie.name}}</a> ({{movie.year}})</h4>
		<br>
		<p>{{movie.description}}</p>
		<rating-directive rating="movie.rating"></rating-directive><span class="pull-right">{{movie.duration}} mins.</span>
	</div>
	<hr>
    <div class="row">
    	<a class="btn btn-primary" href="#/movie/add">Add new movie</a>
	</div>
</div>