<nav class="navbar navbar-default">
    <a class="col-sm-offset-4 col-sm-4" href="#/home"><h2>Company Registry</h2></a>
    <div class="btn-group pull-right" dropdown is-open="hc.isopen">
    	<button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
        	{{hc.currentLanguage}} <span class="caret"></span>
    	</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
			<li role="menuitem"><a ng-href ng-click="hc.setLanguage('en')">English</a></li>
			<li role="menuitem"><a ng-href ng-click="hc.setLanguage('sr-latn')">Srpski<a></li>
		</ul>
    </div>
</nav>