<div>
	<h2>Company Registry</h2>
	<p>
		This is the sample project which you will be working on during this excercise.<br/>
		This web application represents a registry which tracks companies and their employees.<br/>
		The basic functionality this application offers is to list all the companies, employees and places, add new companies, employees or places as well as edit or remove existing ones.<br/>
		<b>Important:</b> before tackling the assignments make sure to modify all services that use the $resource service and enter the name of your MongoLab database, the appropriate collection name and your apiKey.<br/>
		In order to fill the database follow the instructions in seed.txt in the root of this folder.
		<em>Note: </em>to make debugging easier we've commented out the concat and minify steps for the script tags in the gulpfile.js file. Once you've completed your excercises make sure to include these tasks in the default task (as well as modify index.html) to make sure you've injected your dependencies correctly.
	</p>
</div>