<div>
    <h3 translate>{{"EMPLOYEE.LIST"}}</h3>
    <table class="table table-hover table-bordered">
        <thead>
        <tr class="active">
            <td><input class="form-control" id="jmbg" name="jmbg" placeholder="{{'EMPLOYEE.JMBG'|translate}}" ng-model="elc.filter.jmbg"></td>
            <td><input class="form-control" id="name" name="name" placeholder="{{'EMPLOYEE.NAME'|translate}}" ng-model="elc.filter.name"></td>
            <td><input class="form-control" id="surname" name="surname" placeholder="{{'EMPLOYEE.SURNAME'|translate}}" ng-model="elc.filter.surname"></td>
            <td><input class="form-control" id="email" name="email" placeholder="{{'EMPLOYEE.EMAIL'|translate}}" ng-model="elc.filter.email"></td>
            <td>
                <select ng-model="elc.filter.placeOfBirth" id="placeOfBirth" class="form-control">
                    <option value="">---</option>
                    <option ng-repeat="place in elc.places" value="{{place.name}}">{{place.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="5"><button class="btn btn-default" ng-click="elc.search()">Pretraga</button></td>
        </tr>
        <tr class="active">
            <th>
                <a class="link" ng-href ng-click="elc.tableChanged('jmbg')">
                    {{'EMPLOYEE.JMBG'|translate}}
                    <i class="fa fa-sort disabled" ng-hide="elc.sort == 'jmbg'"></i>
                    <i class="fa fa-sort-desc" ng-show="elc.sort == 'jmbg' && elc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="elc.sort == 'jmbg' && elc.sortDirection == 'desc'"></i>
                </a>
            </th>
            <th>
                <a class="link" ng-href ng-click="elc.tableChanged('name')">
                    {{'EMPLOYEE.NAME'|translate}}
                    <i class="fa fa-sort disabled" ng-hide="elc.sort == 'name'"></i>
                    <i class="fa fa-sort-desc" ng-show="elc.sort == 'name' && elc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="elc.sort == 'name' && elc.sortDirection == 'desc'"></i>
                </a>
            </th>
            <th>
                <a class="link" ng-href ng-click="elc.tableChanged('surname')">
                    {{'EMPLOYEE.SURNAME'|translate}}
                    <i class="fa fa-sort disabled" ng-hide="elc.sort == 'surname'"></i>
                    <i class="fa fa-sort-desc" ng-show="elc.sort == 'surname' && elc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="elc.sort == 'surname' && elc.sortDirection == 'desc'"></i>
                </a>
            </th>
            <th>
                <a class="link" ng-href ng-click="elc.tableChanged('email')">
                    {{'EMPLOYEE.EMAIL'|translate}}
                    <i class="fa fa-sort disabled" ng-hide="elc.sort == 'email'"></i>
                    <i class="fa fa-sort-desc" ng-show="elc.sort == 'email' && elc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="elc.sort == 'email' && elc.sortDirection == 'desc'"></i>
                </a>
            </th>
            <th>
                <a class="link" ng-href ng-click="elc.tableChanged('placeOfBirth')">
                    {{'EMPLOYEE.PLACEOFBIRTH'|translate}}
                    <i class="fa fa-sort disabled" ng-hide="elc.sort == 'placeOfBirth'"></i>
                    <i class="fa fa-sort-desc" ng-show="elc.sort == 'placeOfBirth' && elc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="elc.sort == 'placeOfBirth' && elc.sortDirection == 'desc'"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="elc.edit(employee._id)" class="link" ng-repeat="employee in elc.employees">
            <td>{{employee.jmbg}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.placeOfBirth}}</td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li ng-class="{'disabled': elc.pagination.page == 1}">
            <a class="link" ng-href aria-label="Previous" ng-click="elc.pagination.changePage(pagination.page - 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="page in elc.pagination.iterator track by $index" ng-class="{'active':($index+1) == elc.pagination.page}">
            <a class="link" ng-href ng-click="elc.pagination.changePage($index+1)">{{$index+1}}</a>
        </li>
        <li ng-class="{'disabled': elc.pagination.page == elc.pagination.iterator.length}">
            <a class="link" ng-href aria-label="Next" ng-click="elc.pagination.changePage(elc.pagination.page + 1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <a class="btn btn-primary" href="#/employee/add" translate>{{'EMPLOYEE.NEW'}}</a>
    </div>
</div>