<div>
    <h3>Company list</h3>
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<td><input class="form-control" id="pib" name="pib" placeholder="PIB" ng-model="clc.filter.pib"></td>
			<td><input class="form-control" id="name" name="name" placeholder="Name" ng-model="clc.filter.name"></td>
			<td><input class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone number" ng-model="clc.filter.phoneNumber"></td>
			<td><input class="form-control" id="email" name="email" placeholder="E-mail" ng-model="clc.filter.email"></td>
		</tr>
        <tr>
            <td colspan="4"><button class="btn btn-default" ng-click="clc.search()">Pretraga</button></td>
        </tr>
		<tr class="active">
			<th>
				<a class="link" ng-href ng-click="clc.tableChanged('pib')">
                    PIB
                    <i class="fa fa-sort disabled" ng-hide="clc.sort == 'pib'"></i>
                    <i class="fa fa-sort-desc" ng-show="clc.sort == 'pib' && clc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="clc.sort == 'pib' && clc.sortDirection == 'desc'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="clc.tableChanged('name')">
                    Name
                    <i class="fa fa-sort disabled" ng-hide="clc.sort == 'name'"></i>
                    <i class="fa fa-sort-desc" ng-show="clc.sort == 'name' && clc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="clc.sort == 'name' && clc.sortDirection == 'desc'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="clc.tableChanged('phoneNumber')">
                    Phone number
                    <i class="fa fa-sort disabled" ng-hide="clc.sort == 'phoneNumber'"></i>
                    <i class="fa fa-sort-desc" ng-show="clc.sort == 'phoneNumber' && clc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="clc.sort == 'phoneNumber' && clc.sortDirection == 'desc'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="clc.tableChanged('email')">
                    E-mail
                    <i class="fa fa-sort disabled" ng-hide="clc.sort == 'email'"></i>
                    <i class="fa fa-sort-desc" ng-show="clc.sort == 'email' && clc.sortDirection == 'asc'"></i>     
                    <i class="fa fa-sort-asc" ng-show="clc.sort == 'email' && clc.sortDirection == 'desc'"></i>
                </a>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-click="clc.edit(company._id)" class="link" ng-repeat="company in clc.companies">
			<td>{{company.pib}}</td>
			<td>{{company.name}}</td>
			<td>{{company.phoneNumber}}</td>
			<td>{{company.email}}</td>
		</tr>
		</tbody>
	</table>
	<ul class="pagination">
        <li ng-class="{'disabled': clc.pagination.page == 1}">
            <a class="link" ng-href aria-label="Previous" ng-click="clc.pagination.changePage(clc.pagination.page - 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="page in clc.pagination.iterator track by $index" ng-class="{'active':($index+1) == clc.pagination.page}">
            <a class="link" ng-href ng-click="clc.pagination.changePage($index+1)">{{$index+1}}</a>
        </li>
        <li ng-class="{'disabled': clc.pagination.page == clc.pagination.iterator.length}">
            <a class="link" ng-href aria-label="Next" ng-click="clc.pagination.changePage(clc.pagination.page + 1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <a class="btn btn-primary" href="#/company/add">Add new company</a>
    </div>
</div>