<div ng-controller="EmployeeController as ec">
	<h3>{{ec.title}}</h3>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="jmbg">Jmbg</label>
            <div class="col-sm-6 col-md-4">
            	<input type="text" ng-model="ec.employee.jmbg" id="jmbg" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name</label>
            <div class="col-sm-6 col-md-4">
            	<input type="text" ng-model="ec.employee.name" id="name" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Surname</label>
            <div class="col-sm-6 col-md-4">
            	<input type="text" ng-model="ec.employee.surname" id="surname" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">E-mail</label>
            <div class="col-sm-6 col-md-4">
            	<input type="text" ng-model="ec.employee.email" id="email" class="form-control">
            </div>
        </div>
        <div class="col-sm-offset-2">
        	<button type="button" class="btn btn-primary" ng-click="ec.save()">Save</button>
        	<button type="button" class="btn btn-danger" ng-show="ec.employee._id" ng-click="ec.remove()">Delete</button>
        	<a class="btn btn-default" href="#/employee"><i class="fa fa-chevron-left"></i> Back</a>
        </div>
    </form>
</div>